[submodule ".config/nvim/pack/coc/start/coc-actions"]
	path = .config/nvim/pack/coc/start/coc-actions
	url = https://github.com/iamcco/coc-actions.git
[submodule ".config/nvim/pack/coc/start/coc-lists"]
	path = .config/nvim/pack/coc/start/coc-lists
	url =https://github.com/neoclide/coc-lists.git
[submodule ".config/nvim/pack/coc/opt/coc-spell-checker"]
	path = .config/nvim/pack/coc/opt/coc-spell-checker
	url = https://github.com/iamcco/coc-spell-checker.git
[submodule ".config/nvim/pack/coc/opt/coc-vimlsp"]
	path = .config/nvim/pack/coc/opt/coc-vimlsp
	url = https://github.com/iamcco/coc-vimlsp.git
[submodule ".config/nvim/pack/coc/start/coc.nvim"]
	path = .config/nvim/pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".config/nvim/pack/plugins/start/context.vim"]
	path = .config/nvim/pack/plugins/start/context.vim
	url = https://github.com/wellle/context.vim.git
[submodule ".config/nvim/pack/plugins/start/indentLine"]
	path = .config/nvim/pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".config/nvim/pack/plugins/start/lightline.vim"]
	path = .config/nvim/pack/plugins/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".config/nvim/pack/plugins/start/vim-floaterm"]
	path = .config/nvim/pack/plugins/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule ".config/nvim/pack/coc/opt/coc-zsh"]
	path = .config/nvim/pack/coc/opt/coc-zsh
	url = git@github.com:tjdevries/coc-zsh.git
[submodule ".config/nvim/pack/plugins/start/onedark.vim"]
	path = .config/nvim/pack/plugins/start/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule ".config/nvim/pack/plugins/start/vim-clap"]
	path = .config/nvim/pack/plugins/start/vim-clap
	url = https://github.com/liuchengxu/vim-clap
[submodule ".config/nvim/pack/plugins/start/nerdtree"]
	path = .config/nvim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".config/nvim/pack/plugins/start/vim-startify"]
	path = .config/nvim/pack/plugins/start/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule ".config/nvim/pack/plugins/opt/vista.vim"]
	path = .config/nvim/pack/plugins/opt/vista.vim
	url = https://github.com/liuchengxu/vista.vim
[submodule ".config/nvim/pack/plugins/start/vim-airline"]
	path = .config/nvim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".config/nvim/pack/plugins/opt/lightline.vim"]
	path = .config/nvim/pack/plugins/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim
