*

!/.config/
/.config/**

#### Terminal
!.config/kitty
!.config/kitty/**

!/.config/nvim
!/.config/nvim/**
.config/nvim/plugin/packer_compiled.vim

!.config/topgrade.toml

#### Zsh
!.zshenv
!.zshrc

#### Sway
!.config/mako
!.config/mako/**

!.config/sway
!.config/sway/**

!.config/waybar
!.config/waybar/**

!.config/wofi
!.config/wofi/**

!.local/bin/sway
!Pictures/wall.jpg

#### Git
!.gitignore
!.gitconfig
!.gitmodules
