[submodule ".config/nvim/pack/plugins/opt/minpac"]
	path = .config/nvim/pack/plugins/opt/minpac
	url = https://github.com/k-takata/minpac
[submodule "/home/dekel/.config/nvim/pack/plugins/opt/packer.nvim"]
	path = /home/dekel/.config/nvim/pack/plugins/opt/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
