[submodule ".config/nvim/pack/minpac/start/nord-vim"]
	path = .config/nvim/pack/minpac/start/nord-vim
	url = ./.config/nvim/pack/minpac/start/nord-vim
[submodule ".config/nvim/pack/coc/start/coc-actions"]
	path = .config/nvim/pack/coc/start/coc-actions
	url = ./.config/nvim/pack/coc/start/coc-actions
[submodule ".config/nvim/pack/coc/start/coc-lists"]
	path = .config/nvim/pack/coc/start/coc-lists
	url = ./.config/nvim/pack/coc/start/coc-lists
[submodule ".config/nvim/pack/coc/start/coc-spell-checker"]
	path = .config/nvim/pack/coc/start/coc-spell-checker
	url = ./.config/nvim/pack/coc/start/coc-spell-checker
[submodule ".config/nvim/pack/coc/start/coc-vimlsp"]
	path = .config/nvim/pack/coc/start/coc-vimlsp
	url = ./.config/nvim/pack/coc/start/coc-vimlsp
[submodule ".config/nvim/pack/minpac/start/coc-zsh"]
	path = .config/nvim/pack/minpac/start/coc-zsh
	url = ./.config/nvim/pack/minpac/start/coc-zsh
[submodule ".config/nvim/pack/coc/start/coc.nvim"]
	path = .config/nvim/pack/coc/start/coc.nvim
	url = ./.config/nvim/pack/coc/start/coc.nvim
[submodule ".config/nvim/pack/minpac/start/context.vim"]
	path = .config/nvim/pack/minpac/start/context.vim
	url = ./.config/nvim/pack/minpac/start/context.vim
[submodule ".config/nvim/pack/minpac/start/indentLine"]
	path = .config/nvim/pack/minpac/start/indentLine
	url = ./.config/nvim/pack/minpac/start/indentLine
[submodule ".config/nvim/pack/minpac/start/lightline.vim"]
	path = .config/nvim/pack/minpac/start/lightline.vim
	url = ./.config/nvim/pack/minpac/start/lightline.vim
[submodule ".config/nvim/pack/minpac/start/vim-floaterm"]
	path = .config/nvim/pack/minpac/start/vim-floaterm
	url = ./.config/nvim/pack/minpac/start/vim-floaterm
[submodule ".config/nvim/pack/minpac/start/vim-lsp"]
	path = .config/nvim/pack/minpac/start/vim-lsp
	url = ./.config/nvim/pack/minpac/start/vim-lsp
[submodule ".config/nvim/pack/plugins/start/coc-zsh"]
	path = .config/nvim/pack/plugins/start/coc-zsh
	url = git@github.com:tjdevries/coc-zsh.git
[submodule ".config/nvim/pack/plugins/start/onedark.vim"]
	path = .config/nvim/pack/plugins/start/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule ".config/nvim/pack/plugins/start/vim-clap"]
	path = .config/nvim/pack/plugins/start/vim-clap
	url = https://github.com/liuchengxu/vim-clap
[submodule ".config/nvim/pack/plugins/start/nerdtree"]
	path = .config/nvim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
