*

# Terminal
!.config/kitty
!.config/nvim
!.config/topgrade.toml

# Zsh
!.zshenv
!.zshrc

# Sway
!.config/mako
!.config/sway
!.config/waybar
!.config/wofi
!.local/bin/sway
!Pictures/wall.jpg

# Git
!.gitignore
!.gitconfig
!.gitmodules
