* {
	/* margin: ; */
    border: none;
    border-radius: 0;
    padding: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Product Sans Medium,Google Sans Medium, San Francisco Text,Roboto, Helvetica, Arial, sans-serif; */
   font-size: 13.5px;
   font-weight: bold; 
   font-family: Iosevka, Source Code Pro, Ubuntu ,Arial, Helvetica, sans-serif;
   color: #ebdbb2
    /* font-weight: bold; */
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.7);
    /* background-color: #3b4252; */
    /* background-color: transparent; */
    transition-property: background-color;
    transition-duration: .5s;
    box-shadow: 0px 0px 8px 10px #0d0d0d;
    border-bottom: 6px solid #689D6A;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background-color: transparent;
    /* border-radius: 5px; */
    /* padding: 4px; */
    /* margin: 0 0 0 10px; */
/*     padding-left: 5; */
}

#workspaces button {
	/* font-size: 18px; */
	/* border-radius: 0px; */
	/* padding: 0 0 0 0; */
	border-bottom: 6px solid transparent;
    /* margin: 0 0 0 0; */
    background-color: transparent;
    padding: 4px 1px;
    margin: 0 3px;
}

#window {
    background-color: transparent;
	padding: 0 10px 6px 10px;
    margin: 0;
    /* border-radius: 0 5 5 0; */
	/* border-bottom: 6px solid #ebcb8b; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    box-shadow: inherit;
    color: #5e81ac;
    /* border-bottom: 6px solid #5e81ac; */
    border-color: #5e81ac;
}

#workspaces button.focused {
    color: #81a1c1;
    border-bottom: 6px solid  #81a1c1;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 6px solid #ffffff;
}

#custom-keyboard,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#custom-media,
#custom-name,
#custom-pacman,
#tray,
#mode,
#idle_inhibitor,
#sway-window
#disk {
    padding: 0 10px;
}

#custom-keyboard {
    background-color: transparent;
	/* padding: 0px 8px 0px 8px; */
	/* margin: 0; */	
	border-bottom: 6px solid #D65D0E;
}

/* WAYBAR-MEDIA */

#custom-name {
    background-color: #458588;
	/* padding: 0px 10px 0px 10px; */
    /* border-radius: 5 0 0 5; */
	border-bottom: 6px solid #458588;
}

#clock {
    background-color: transparent;
	/* padding: 0px 8px 0px 8px; */
/* 	margin: 0; */
	border-bottom: 6px solid #CC241D;
}

#custom-pacman {
	background-color: transparent;
	/* padding: 0px 8px 0px 8px; */
/* 	margin: 0; */
	border-bottom: 6px solid #5e81ac;
}

#cpu {
    background-color:  transparent;
	/* padding: 0px 8px 0px 8px; */
/* 	margin: 0; */
	border-bottom: 6px solid #D79921;
}

#network {
    background-color: transparent;
	/* padding: 0px 8px 0px 8px; */
	/* margin: 0; */	
	border-bottom: 6px solid #D65D0E;
}

#network.disconnected {
    background-color: #CC241D;
}

#pulseaudio {
    background-color:  transparent;
	padding: 0px 10px 0px 10px;
	/* margin: 0; */
    /* margin: 0 4px 0 4px; */
	border-bottom: 6px solid #B16286;	
	/* border-radius: 5 0 0 5; */
}

#pulseaudio.muted {
    background-color: #b1b190;
    color: #2a5c45;
}

#tray {
    background-color: transparent;
	/* padding: 0px 8px 0px 8px; */
	/* margin: 0; */
	border-bottom: 6px solid #90718a;
}

#battery {
	/* padding: 0px 8px 0px 8px; */
  background-color: transparent;
	border-bottom: 6px solid #B16286;
	/* margin: 0; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#idle_inhibitor {
    background-color: transparent;
/* 	padding: 0px 12px 0px 12px; */
	font-size: 20px;
	/* margin: 0; */
    /* margin: 0 4px 0 4px; */
	border-bottom: 6px solid #D79921;
}

#idle_inhibitor.activated {
	border-bottom: 6px solid #B8BB26;
}

#custom-suspend {
	background-color: #689D6A;
	font-size: 16px;
	padding: 0px 13px 0px 13px;
	/* border-radius: 0 5 5 0; */
	/* border-bottom: 6px solid #829870; */
	margin-right: 0;
}
